@import './variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $mainFf;
    font-size: 17.6px;
    line-height: 26.4px;
    
    color: $mainColor;
    background-color: rgba(242, 242, 242, 1);
}

a, input, button {
    color: $mainColor;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input, button {
    outline: none;
}



