// Font families
$mainFf: 'Nunito Sans', sans-serif;
$secondaryFf: 'Inter', sans-serif;

// Colors
$mainColor: rgba(26, 32, 44, 1);
$backgroundColor: rgba(242, 242, 242, 1);
$grayColor: rgba(154, 154, 154, 1);
$accentColor: rgba(0, 165, 155, 1);
